subdir/
subdir
subdir/*
emptydir/*
<GITIGNORE.UNUSED_ENTRY descr="'foo' entry is never used">foo</GITIGNORE.UNUSED_ENTRY>
<GITIGNORE.UNUSED_ENTRY descr="'foo/' entry is never used">foo/</GITIGNORE.UNUSED_ENTRY>
<GITIGNORE.UNUSED_ENTRY descr="'foo/*' entry is never used">foo/*</GITIGNORE.UNUSED_ENTRY>