subdir/
subdir
subdir/*
emptydir/*
<IGNORE.UNUSED_ENTRY descr="'foo' entry is never used">foo</IGNORE.UNUSED_ENTRY>
<IGNORE.UNUSED_ENTRY descr="'foo/' entry is never used">foo/</IGNORE.UNUSED_ENTRY>
<IGNORE.UNUSED_ENTRY descr="'foo/*' entry is never used">foo/*</IGNORE.UNUSED_ENTRY>