subdir/foo.txt
subdir/foo*
subdir/dir/
subdir/**/biz.a
<IGNORE.UNUSED_ENTRY descr="'subdir/*/biz.a' entry is never used">subdir/*/biz.a</IGNORE.UNUSED_ENTRY>
<IGNORE.UNUSED_ENTRY descr="'subdir/bar*' entry is never used">subdir/bar*</IGNORE.UNUSED_ENTRY>
<IGNORE.UNUSED_ENTRY descr="'subdir/bar.txt' entry is never used">subdir/bar.txt</IGNORE.UNUSED_ENTRY>
<IGNORE.UNUSED_ENTRY descr="'bar.txt' entry is never used">bar.txt</IGNORE.UNUSED_ENTRY>